html {
	cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="64" width="64"><text y="28" font-size="32">🪱</text><path d="M0,2 L0,0 L2,0" fill="red" /></svg>'), auto;
}

body{
    background-image:url("../img/dirt.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: beige;
}

h1{
    color:hotpink;
    font-family: cursive;
    font-size: 70px;
    text-align: center;
}

p{
    font-family: fantasy;
    font-size: 16px;
    text-align: justify;
}

h2{
    color: deeppink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightpink;
}